gradio
fastapi
uvicorn

langgraph
langchain
langchain-community
langchain-core
langchain-chroma
langchain-ollama
langchain-huggingface

chromadb

sentence-transformers

pymupdf

pydantic
pydantic-settings

tiktoken